Rooms List
    <table class="table">
        <thead>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Amenities</th>
            <th>Price</th>
            <th>Check In Time</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of rooms; let e=even; let o=odd; let i=index;">
                <td>{{i}}</td>
                <td>{{e ? "Even": "Odd"}}</td>
                <td>{{room.roomNumber}}</td>
                <td>{{room.roomType}}</td>
                <td>{{room.amenities}}</td>
                <td>{{room.price | currency : 'INR'}}</td>
                <td>{{room.checkinTime | date}}</td>
                <!-- <td><button class="btn btn-secondary" (click)="selectRoom(room)">Select</button></td> -->
                <td><button class="btn btn-secondary" [routerLink]="['/rooms',room.roomNumber]">Book Room</button></td>
            </tr>
        </tbody>
    </table>
